/* Mobile Layout */
.container { flex-flow:row wrap;}
.header, .navigation, .main, .footer { width:100%; }
.book, .news, .board, .favorite, .twitter { 
  width:100%;
  background:rgba(255, 255, 0, 0.5);
 }

 /* header */
 .header {
   padding:36px 20px 10px;
   position:relative;
   background:#38302e;
 }
 /* logo */
 .logo {
   margin:10px 0;
 }
 /* member */
 .member {
   background:#988574;
   margin:0;
   list-style:none;
   padding-left:0;
   padding-right:10px;
   font-size:0;
   text-align:right;
   position:absolute;
   top:0;
   right:0;
   left:0;
   color: #fff;
 }
 .member li {
   display:inline-block;
   font-size:1.4rem;
   padding:2px 0;
 }
 .member a {
   padding:8px 0;
   display:inline-block;
 }
 /* search form */
 [type="search"] {
  border:1px solid #aaa;
  border-radius:5px;
  height:24px;
  padding:0 0.5em;
  width:calc(100% - 30px);
}
.btn-search {
 position:relative;
 border:0;
 padding:0;
 width:24px;
 height:24px;
 font-size:1.2rem;
 background:transparent;
}
.btn-search::after {
 position:absolute;;
 left:0;
 top:0;
 content:"";
 background:url("../images/btn_search.png") no-repeat center / cover;
 width:100%;
 height:100%;
}